* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  margin-top: 10px;
    border-radius: 50%;
  }

.header {
  text-align: center;
}

section {
  display: inline-block;
  width: 49%;
  vertical-align: middle; /* Align sections vertically */
}

.left-side {
  padding-left: 100px;
  
}

.right-side {
  padding-left: 150px;
}

.footer {
  text-align: center;
  background-color: rgb(218, 206, 191);
  color: rgb(56, 44, 44);
  padding: 10px;
  margin-top: 99px;
}

a {
  color: rgb(218, 206, 191);
  margin-top: 10px;
  text-align: center;
  display: block;
  font-size: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}